#port {
    position: relative;
    margin: 10px;
    float: left
}

#port img {
    width: 300px;
    outline: 2px solid #ffffff;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}

#port .title {
    position: absolute;
    bottom: 8%;
    background-color: #eaac9d;
    color: #ffffff;
    padding: 10px;
    width: 300px; 
    text-align: center;
}

#port img:hover{
    opacity: 80%;
}

#port a:visited{
    color: gray;
}

.flex-container#portfolio__background {
    background-color: gray;
    /* margin: 0px 10%; */
    padding-bottom: 3%;
}