#port {
    position: relative;
    margin: 10px;
    float: left
}

#port img {
    width: 250px;
    height: 150px;
    outline: 2px solid #ffffff;
    background-color: #ffffff;
    padding: 0px;
    /* margin: 0px 35%; */
}

#port .title {
    position: absolute;
    bottom: 8%;
    background-color: #eaac9d;
    color: #ffffff;
    padding: 10px;
    /* margin: 0px 35%; */
    width: 250px; 
    text-align: center;
}

#port img:hover{
    opacity: 80%;
}

#port a:visited{
    color: gray;
}


@media screen and (max-width: 640px) {
    main {
        width: 580px; 
        margin: 0px;
        padding: 25px 10px 60px 10px;
    }
}